<div class="card">
  <div class="card-content">
    <div class="row">
      <% if (req.user) {%>
        <p> <%= req.user.username %> </p>
        <p> Bonjour toi , <%= req.user.username %></p>
      <% } else { %>
        <p> Not logged in </p>
      <% } %>
      <img src="http://localhost:1337/upload/1">
    </div>
  </div>
</div>
