<div class="card">
  <div class="card-content">
    <div class="row">
      <% if (req.user) {%>
        <p> <%= req.user.username %> </p>
        <p> Bonjour toi , <%= req.user.username %></p>
      <% } else { %>
        <p> Not logged in </p>
      <% } %>
      <form action="/upload" enctype="multipart/form-data" method="POST">
        <input type="file" name="image" id="image">
        <button>Upload</button>
      </form>
      <img src="/upload/1" height="200px"/>
      </div>
    </div>
  </div>
</div>
